WhatsApp Lead Sentiment and Psychological Intent Analysis Workflow.json
{
  "name": "WhatsApp Lead Sentiment and Psychological Intent Analysis Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "05a164d4-d807-4f82-baef-4d5b56ecca02",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e20bee57-9006-4ac3-b2bf-4a281b29330b",
      "name": "Webhook",
      "webhookId": "05a164d4-d807-4f82-baef-4d5b56ecca02"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message_text }}",
        "options": {
          "systemMessage": "You are an advanced Lead Qualification AI Agent.\n\nYour purpose is to analyze the incoming chat message and existing memory data about the lead.  \nUse this data to understand the buyer’s emotion, intent, requirement type, and purchase potential.\n\n---\n\n### 🔍 INPUTS YOU RECEIVE:\n- `incoming_message`: Latest chat message from the lead.\n- `lead_memory`: Any past messages, notes, or CRM data about the lead.\n- `channel_type`: The source of chat (e.g., WhatsApp, Website Chat, Instagram, Facebook, Email, etc.)\n\n---\n\n### 🎯 YOUR TASK:\nAnalyze the message and identify the following parameters:\n\n1. **Sentiment Strength** → Emotion and its intensity.  \n   Output: \"Positive / Neutral / Negative\" and \"Weak / Moderate / Strong\"\n\n2. **Buying Intent** → Determine how close the lead is to a decision.  \n   Example: \"Exploring options\", \"Requesting price\", \"Negotiating\", \"Ready to buy\", \"Post-sale support\"\n\n3. **Requirement Type** → Identify what the lead is looking for.  \n   Example: \"Product purchase\", \"Service inquiry\", \"Demo request\", \"Support\", \"Partnership\", \"Other\"\n\n4. **Engagement Level** → Estimate how active or involved the lead is in the conversation.  \n   Example: \"Low / Medium / High\"\n\n5. **Urgency Words** → Detect if the user uses urgency-related terms like “urgent”, “immediately”, “today”, “ASAP”.  \n   Output: `true/false` + list of detected words.\n\n6. **Channel Type Influence** → Consider how the communication channel affects intent.  \n   Example: WhatsApp (fast response, higher trust), Website (exploration), Instagram (curiosity-driven).\n\n---\n\n### ⚙️ DECISION LOGIC:\n- If **sentiment_strength = strong positive** and **buying_intent = ready to buy**, classify `lead_type` = **Hot** and score ≥ 80.  \n- If **sentiment_strength = moderate** and **buying_intent = exploring / requesting price**, classify `lead_type` = **Warm** and score 50–79.  \n- If **sentiment_strength = weak or negative**, classify `lead_type` = **Cold** and score < 50.\n\n---\n\n### 🧩 OUTPUT FORMAT (JSON):\nReturn your analysis in **structured JSON** with a short, readable summary.\n\n```json\n{\n  \"sentiment\": \"Positive\",\n  \"sentiment_strength\": \"Strong\",\n  \"buying_intent\": \"Requesting price\",\n  \"requirement_type\": \"Product purchase\",\n  \"engagement_level\": \"High\",\n  \"urgency_detected\": true,\n  \"urgency_words\": [\"ASAP\"],\n  \"channel_type\": \"WhatsApp\",\n  \"lead_type\": \"Hot\",\n  \"lead_score\": 88,\n  \"intent_summary\": \"Lead shows strong interest and urgency to get pricing details for a product. High engagement indicates readiness to proceed soon.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "13e28c87-e2c0-4102-852a-d1d7d2f4b41a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        208
      ],
      "id": "b5321147-620e-41d8-97b1-1b249508fb55",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=1",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ],
      "id": "edef8e6d-9691-4117-b9ff-775cf05dca07",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// 1) Get the raw agent output\nlet raw = $json.output ?? $json.data ?? \"\";\nif (typeof raw !== \"string\") raw = JSON.stringify(raw);\nraw = raw.trim();\n\n// 2) Remove code-fences if present\nraw = raw\n  .replace(/^```(?:json)?/i, \"\")\n  .replace(/```$/i, \"\")\n  .trim();\n\n// 3) Extract the first valid JSON object from the string\nconst start = raw.indexOf(\"{\");\nif (start < 0) {\n  return { json: { parse_error: \"No JSON object found\", raw } };\n}\n\nlet parsed = null;\nfor (let end = raw.indexOf(\"}\", start); end !== -1; end = raw.indexOf(\"}\", end + 1)) {\n  const candidate = raw.slice(start, end + 1);\n  try {\n    parsed = JSON.parse(candidate);\n    break; // got the first balanced JSON object\n  } catch (_) { /* keep extending */ }\n}\n\n// Final fallback: try the whole thing (in case there's no trailing prose)\nif (!parsed) {\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    return { json: { parse_error: e.message, raw } };\n  }\n}\n\n// 4) Shape fields for Google Sheets\nreturn {\n  json: {\n    sentiment: parsed.sentiment ?? \"\",\n    sentiment_strength: parsed.sentiment_strength ?? \"\",\n    buying_intent: parsed.buying_intent ?? \"\",\n    engagement_level: parsed.engagement_level ?? \"\",\n    lead_type: parsed.lead_type ?? \"\",\n    lead_score: parsed.lead_score ?? \"\",\n    intent_summary: parsed.intent_summary ?? \"\",\n    urgency_detected: parsed.urgency_detected ?? \"\",\n    urgency_words: Array.isArray(parsed.urgency_words) ? parsed.urgency_words.join(\", \") : \"\"\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "e4676b79-878c-4cbd-9571-2a8c739a9504",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1V6pBhiCKKkcBOyt11liiA8w19mTMPVIsqxceZUvJwP0",
          "mode": "list",
          "cachedResultName": "Chatbot Lead sheet ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V6pBhiCKKkcBOyt11liiA8w19mTMPVIsqxceZUvJwP0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1135396908,
          "mode": "list",
          "cachedResultName": "Lead Intent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V6pBhiCKKkcBOyt11liiA8w19mTMPVIsqxceZUvJwP0/edit#gid=1135396908"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $('Webhook').item.json.body.phone_number }}",
            "Name": "=",
            "Intent_Summary": "={{ $json.intent_summary }}",
            "urgency_detected": "={{ $json.urgency_detected }}",
            "Lead Score": "={{ $json.lead_score }}",
            "Lead Status ": "={{ $json.lead_type }}",
            "Requirement Type": "={{ $json.buying_intent }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company/Role",
              "displayName": "Company/Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requirement Type",
              "displayName": "Requirement Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Status ",
              "displayName": "Lead Status ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgency_detected",
              "displayName": "urgency_detected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent_Summary",
              "displayName": "Intent_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        0
      ],
      "id": "e8dece35-8113-493d-8ddd-aa618861a104",
      "name": "Append or update row in sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c02ee7e-3b8d-4d67-bb27-63021a2276d3",
  "meta": {
    "instanceId": "2e73dc9401fc0dad025931b2dd78991a98c38f3f7b7443334d21c0208c6e67b5"
  },
  "id": "5mShyE6QswyNKBhh",
  "tags": []
}